.userNickName {
    font-size : 25px;
    font-weight : bold;
    place-items: center;
    text-align: center;
    display: grid;
 }
 
 .userSetting {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 50px;
 }
 
 .userEmail1, .userEmail2 {
   font-size: 15px;
   font-weight: bold;
   margin-top: 40px;
 }
 
 .userEmail2 {
     position: relative;
     left: -170px;
 }
 
 .MyPath, .MyOut {
     font-size: 20px;
     font-weight: bold;
     margin: 10px;
     cursor: pointer;
 }
 
 .divider1, .divider2, .divider3  {
     font-size: bolder;
     border-top: 1px solid #000;
     margin: 20px 0;
 }
 
 .clouds {
     width: 100%;
 }